@model webUniversity.Models.Course

@{
    ViewData["Title"] = "Просмотр курсов";
}

@section Header {
    <div class="header_section">
        <div class="header_title">
            <p>УНИВЕРСИТЕТ</p>
            <div class="header_divider"> </div>
            <div class="header_portal_title">
                <p>ОБРАЗОВАТЕЛЬНЫЙ ПОРТАЛ ТЕХНИЧЕСКОГО УНИВЕРСИТЕТА</p>
            </div>
        </div>
    </div>
    <div class="header_section">
        <div class="header_account">
            <div class="back-btn">
                <a asp-action="Index" asp-controller="StudentRedactor">Редактирование студентов</a>
            </div>
            <div class="back-btn">
                <a asp-action="Logout" asp-controller="Account">Выйти из аккаунта</a>
            </div>
        </div>
    </div>
}

<div class="student_main">
    <h1>Просмотр курсов</h1>
    <div class="details_main">
        <dl class="myRowDetails">
            <dt class = "col-sm-2">
                Код
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.code)
            </dd>
        </dl>
        <dl class="myRowDetails">
            <dt class = "col-sm-2">
                Название
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.name)
            </dd>
        </dl>
        <dl class="myRowDetails">
            <dt class = "col-sm-2">
                Индекс
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.index)
            </dd>
        </dl>
    </div>
    <div class="buttons">
        <div class="form-group_btn_1">
            <a asp-action="Edit" asp-route-id="@Model?.courseID"><input type="submit" value="Редактировать" class="btn btn-primary" /></a>
        </div>
        <div class="form-group_btn_2">
            <a asp-action="Index">
                <input value="Отмена" class="btn btn-primary" readonly="readonly"> 
            </a>
        </div>
    </div>
</div>