<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/webApp.styles.css" asp-append-version="true" />
    <link rel="icon" type="image/svg" href="~/vstu-logo.svg" />
</head>
<body>
    <div class="wrapper">

        <header>
            @if (IsSectionDefined("Header"))
            {
                @RenderSection("Header")
            }
            else 
            { 

            }
        </header>

        @if (IsSectionDefined("nav"))
        {
            @RenderSection("nav")
        }

        <main class="main main_section" role="main">
            @RenderBody()
        </main>

        <footer>
            <div class="footer_section">
                <div class="footer_title">
                    <div class="footer_portal_title">
                        <p>ОБРАЗОВАТЕЛЬНЫЙ ПОРТАЛ ТЕХНИЧЕСКОГО УНИВЕРСИТЕТА</p>
                    </div>
                </div>
            </div>
        </footer>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
