@model webUniversity.Models.Speciality

@{
    ViewData["Title"] = "Edit";
}
@section Header {
        <div class="header_section">
            <div class="header_title">
                <p>УНИВЕРСИТЕТ</p>
                <div class="header_divider"> </div>
                <div class="header_portal_title">
                    <p>ОБРАЗОВАТЕЛЬНЫЙ ПОРТАЛ ТЕХНИЧЕСКОГО УНИВЕРСИТЕТА</p>
                </div>
            </div>
        </div>
        <div class="header_section">
            <div class="header_account">
                <div class="back-btn">
                    <a asp-action="Index" asp-controller="StudentRedactor">Редактирование студентов</a>
                </div>
                <div class="back-btn">
                    <a asp-action="Logout" asp-controller="Account">Выйти из аккаунта</a>
                </div>
            </div>
        </div>
}
<div class="student_main">
    <h1>Редактирование специальности</h1>
    <form asp-action="Edit">
        <div class="student_row">
            <div class="col-md-4">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="specialityID" />
                <div class="form-group">
                    <label asp-for="code" class="control-label">Код</label>
                    <input asp-for="code" class="form-control" />
                    <span asp-validation-for="code" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="name" class="control-label">Название</label>
                    <input asp-for="name" class="form-control" />
                    <span asp-validation-for="name" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label asp-for="addName" class="control-label">Доп. название</label>
                    <input asp-for="addName" class="form-control" />
                    <span asp-validation-for="addName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="specialityCode" class="control-label">Код специальнсоти</label>
                    <input asp-for="specialityCode" class="form-control" />
                    <span asp-validation-for="specialityCode" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label asp-for="largeGroup" class="control-label">Кол-во групп</label>
                    <input asp-for="largeGroup" class="form-control" />
                    <span asp-validation-for="largeGroup" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="branchScience" class="control-label">Отрасль науки</label>
                    <input asp-for="branchScience" class="form-control" />
                    <span asp-validation-for="branchScience" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="buttons">
            <div class="form-group_btn_1">
                <input type="submit" value="Сохранить" class="btn btn-primary" />
            </div>
            <div class="form-group_btn_2">
                <a asp-action="Index">
                    <input value="Отмена" class="btn btn-primary" readonly="readonly"> 
                </a>
            </div>
        </div>
    </form>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
