@using System.Security.Claims

@model webUniversity.Models.User

@{
    ViewData["Title"] = "Администратор";
}

@section Header {
    <div class="header_section">
        <div class="header_title">
            <p>УНИВЕРСИТЕТ</p>
            <div class="header_divider"> </div>
            <div class="header_portal_title">
                <p>ОБРАЗОВАТЕЛЬНЫЙ ПОРТАЛ ТЕХНИЧЕСКОГО УНИВЕРСИТЕТА</p>
            </div>
        </div>
    </div>
    <div class="header_section">
        <div class="header_account">
            <div class="back-btn">
                <a asp-action="Admin" asp-controller="Home">Главная</a>
            </div>
            <div class="back-btn">
                <a asp-action="Logout" asp-controller="Account">Выйти из аккаунта</a>
            </div>
        </div>
    </div>
}

<div class="student_main">

    <h1>Добавление студентов в систему</h1>
    <div class="student_buttons">
        <a class="navbar-account" asp-controller="Students" asp-action="Index">
            Студенты
        </a>
        <a class="navbar-account" asp-controller="Courses" asp-action="Index">
            Курс
        </a>
        <a class="navbar-account" asp-controller="Groups" asp-action="Index">
            Группы
        </a>
        <a class="navbar-account" asp-controller="Faculties" asp-action="Index">
            Факультеты
        </a>
        @*
        <a class="navbar-account" asp-controller="ControlForms" asp-action="Index">
            Форма контроля
        </a>
        <a class="navbar-account" asp-controller="ControlPeriods" asp-action="Index">
            Период контроля
        </a>
        
        <a class="navbar-account" asp-controller="Disciplines" asp-action="Index">
            Дисциплины
        </a>*@
        
     </div>
     <div class="student_buttons">
        
        @*
        <a class="navbar-account" asp-controller="Marks" asp-action="Index">
            Метки
        </a>
       <a class="navbar-account" asp-controller="OrderTypes" asp-action="Index">
            Тип приказов
        </a>
        <a class="navbar-account" asp-controller="Professors" asp-action="Index">
            Преподователи
        </a>*@
        <a class="navbar-account" asp-controller="StudentStatus" asp-action="Index">
            Статус студента
        </a>
        <a class="navbar-account" asp-controller="Specialities" asp-action="Index">
            Специальноть
        </a>
        <a class="navbar-account" asp-controller="Specializations" asp-action="Index">
            Специализация
        </a>
        <a class="navbar-account" asp-controller="TuitionForms" asp-action="Index">
            Форма обучения
        </a>
        
    </div>
     <div class="student_buttons">
        
        @*
         <a class="navbar-account" asp-controller="Statements" asp-action="Index">
            Заявления
        </a>
        
            <a class="navbar-account" asp-controller="StatementTypes" asp-action="Index">
            Тип заявления
        </a>*@
        <a class="navbar-account" asp-controller="TuitionTypes" asp-action="Index">
            Тип обучения
        </a>
         <a class="navbar-account" asp-controller="TrainingLevels" asp-action="Index">
            Уровень подготовки
        </a>
        
        </div>
        <div class="student_buttons">
    </div>
</div>